/* Global */
:root{
    /* Color */
    --color-white: #FFFFFF;
    --color-light-white : #EEEEEE;
    --color-dark-white : #BDBDBD;
    --color-pink : #FE918D;
    --color-dark-pink : #FF6863;
    --color-black : #4D4D4D;
    --color-dark-grey : #4D4D4D;
    --color-light-grey : #7C7979;
    --color-blue : #73AACE;
    --color-yellow : #FFF7D1;
    --color-orange : #FEB546;
    --color-black : #000000;


    /* Font size */
    --font-large : 48px;
    --font-medium : 28px;
    --font-regular : 18px;
    --font--small : 16px;
    --font--micro : 14px;


    /* Font weight */
    --weight-bold : 800;
    --weight-semi-bold : 600;
    --weight-regular : 400;


    /* Size */

}

/* Universal tags */
*{
    box-sizing : border-box;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4ßpx 0;
}
